/* if scenebuilder breaks, comment out font-face */
@font-face {
    font-family: 'HoeflerText';
    src: url('/hoefler.ttf');
}

.bottom-nav {
    -fx-background-color: #ECCEDA;
    -fx-border-radius: 0px 0px 30px 30px;
}

.bottom-nav ImageView {
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 4, 0, 0, 2);
    -fx-opacity: 0.9;
}

.bottom-nav ImageView:hover {
    -fx-opacity: 1;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 6, 0, 0, 3);
}

.bottom-nav .selected {
    -fx-opacity: 1;
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 6, 0, 0, 3);
}

.icon {
    -fx-border-width: 4px;
    -fx-border-color: #FFFFFF;
}

.begin {
    -fx-position: absolute;
    -fx-pref-width: 200px;
    -fx-pref-height: 40px;
    -fx-translate-x: 109px;
    -fx-translate-y: 370px;

    -fx-font-family: "Hoefler Text";
    -fx-font-style: italic;
    -fx-font-weight: normal;
    -fx-font-size: 40px;
    -fx-line-height: 40px;

    -fx-text-fill: #FFFFFF;
}

ImageView:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 6, 0, 0, 3);
}

