/* if scenebuilder breaks, comment out font-face */
@font-face {
    font-family: 'HoeflerText';
    src: url('/hoefler.ttf');
}

.edit-profile {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 30;
}

.tausta {
    -fx-background-image: url("../images/background.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

.rectangle15 {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 30;
}

.input-field {
    -fx-background-color: #ECCEDA;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 4, 0, 0, 4);
    /* -fx-font-family: "Hoefler Text";
    -fx-font-style: italic; */
    -fx-font-size: 16px;
}

.field-label {
    -fx-font-family: "Hoefler Text";
    -fx-font-style: italic;
    -fx-font-size: 22px;
}

.frame2 {
    -fx-background-image: url("/images/profile_image.png");
    -fx-background-size: cover;
    -fx-background-radius: 60;
}

.frame2-icon {
    -fx-border-color: #000000;
    -fx-border-width: 4;
    -fx-background-color: transparent;
    -fx-rotate: -90;
}

.bottom-nav {
    -fx-background-color: #ECCEDA;
    -fx-border-radius: 0px 0px 30px 30px;
}

.nav-icon {
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 4, 0, 0, 2);
    -fx-opacity: 0.9;
}

.nav-icon:hover {
    -fx-opacity: 1;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 6, 0, 0, 3);
}

.bottom-nav .selected {
    -fx-opacity: 1;
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 6, 0, 0, 3);
}

.back-icon:hover {
    -fx-cursor: hand;
    -fx-opacity: 1;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 6, 0, 0, 3);
}

.lang-label {
    -fx-cursor: hand;
    -fx-text-fill: #7E7E7E;
    -fx-font-size: 22px;
    -fx-font-family: "Hoefler Text";
}